/*
Purple = #882064
Light purple = #FBCDBF
Light yellow = #F9F5B7
*/

section {
	padding: 100px 0;
}

/*body {
	font-family: 'Dosis', sans-serif;
	font-size: 32px;
}

nav {
	font-size: 24px;
}

h1 {

}

button {
	font-size: 24px;
}*/